extends layout

block content
  h3 Número de contratos #{contratos.length}
  table.w3-table
    thead
        tr
            th Identificador
            th Objeto
            th Data de Celebração
            th Preço Contratual
            th NIPC Entidade
            th Entidade Comunicante
    tbody
        each contrato in contratos
            tr
                td
                    a(href="/" + contrato._id)= contrato._id
                td= contrato.objectoContrato
                td= contrato.dataCelebracaoContrato
                td= contrato.precoContratual
                td
                    a(href="/entidades/" + contrato.NIPC_entidade_comunicante)= contrato.NIPC_entidade_comunicante
                td= contrato.entidade_comunicante